<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/5.1.3/css/bootstrap.min.css}" />


    <title>Pizze</title>
</head>


<body>
    <nav th:replace="~{navbar :: navbar('Pizze')}"></nav>

    <div class="container">
        <div class="content">

            <h1 class="text-center py-3" > Crea Pizza</h1>
            <hr>

                       <form id="pizza-form" th:object="${pizza}" th:action="@{/pizze/create}" method="post">
                <div class="row">
                    <div class="col-8">
                        <div class="row gy-2">
                            <div class="col-12">
                                <label class="form-label" for="name">Name</label>
                                <input id="name" type="text" class="form-control" th:field="*{name}" th:errorClass="is-invalid">
                                <div th:if="${#fields.hasErrors('name')}" class="invalid-feedback">
                                    <ul>
                                        <li th:each="err : ${#fields.errors('name')}" th:text="${err}"></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-12">
                                <label class="form-label" for="note">Description</label>
                                <input id="note" type="text" class="form-control" th:field="*{note}"  th:errorClass="is-invalid">
                                <div th:if="${#fields.hasErrors('note')}" class="invalid-feedback">
                                    <ul>
                                        <li th:each="err : ${#fields.errors('note')}" th:text="${err}"></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-12">
                                <label class="form-label" for="photo">Image URL</label>
                                <input id="photo" type="url" class="form-control" th:field="*{photo}"  th:errorClass="is-invalid">
                                <div th:if="${#fields.hasErrors('photo')}" class="invalid-feedback">
                                    <ul>
                                        <li th:each="err : ${#fields.errors('photo')}" th:text="${err}"></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-2">
                                <label class="form-label" for="price">Price</label>
                                <input id="price" type="number" step="0.01" class="form-control" th:field="*{price}"  th:errorClass="is-invalid">
                                <div th:if="${#fields.hasErrors('price')}" class="invalid-feedback">
                                    <ul>
                                        <li th:each="err : ${#fields.errors('price')}" th:text="${err}"></li>
                                    </ul>
                                </div>
                            </div>
                            
                            <div class="col-12">
                                <button class="btn btn-success" type="submit">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check2-circle" viewBox="0 0 16 16">
                                    <path d="M2.5 8a5.5 5.5 0 0 1 8.25-4.764.5.5 0 0 0 .5-.866A6.5 6.5 0 1 0 14.5 8a.5.5 0 0 0-1 0 5.5 5.5 0 1 1-11 0"/>
                                    <path d="M15.354 3.354a.5.5 0 0 0-.708-.708L8 9.293 5.354 6.646a.5.5 0 1 0-.708.708l3 3a.5.5 0 0 0 .708 0z"/>
                                    </svg>
                                    Save </button>
                                <a th:href="@{/pizze}" class="btn btn-danger"> 
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x-circle" viewBox="0 0 16 16">
                                    <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16"/>
                                    <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708"/>
                                    </svg>
                                    Cancel</a>
                            </div>
                        </div>
                    </div>

                </div>

            </form>
        </div>
   </div>


    <!-- Bootstrap Bundle with Popper -->
    <script th:src="@{/webjars/bootstrap/5.1.3/js/bootstrap.bundle.min.js}"></script>
</body>

</html>